<h1>Select the measures</h1>

<%= simple_form_for([ @cocktail, @dose ]) do |form| %>
  <%= form.association :ingredient %>
  <%= form.input :description, as: :text %>
  <%= form.button :submit, class: "btn btn-primary" %>
<% end %>




